*.class

# Maven
target
*.log
*.log.*
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Mac
.DS_Store

# Package Files
*.jar
*.war
*.ear
